.Header {
    background-color:rgb(255, 240, 109);
    color: white;
    font-size: 2rem;
    padding: 1.2rem;
    text-align: center;
    font-weight: 600;
    margin-left: 240px;
    height: 50px;
}