/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap'); */

body {
  margin: 0;
  /* font-family: 'Noto Sans KR', sans-serif; */
  font-family: "NotoR";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f2f7f8;
}

a{
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face{
  font-family: "NotoB";
  src: url("/styles/fonts/NotoSansKR-Bold.otf");
}

@font-face{
  font-family: "NotoR";
  src: url("/styles/fonts/NotoSansKR-Regular.otf");
}
